openapi: 3.0.3
info:
  contact:
    email: hyperswitch@juspay.in
    name: Hyperswitch Support
    url: https://hyperswitch.io
  description: |2

    ## Get started

    Hyperswitch provides a collection of APIs that enable you to process and manage payments.
    Our APIs accept and return JSON in the HTTP body, and return standard HTTP response codes.

    You can consume the APIs directly using your favorite HTTP/REST library.

    We have a testing environment referred to "sandbox", which you can setup to test API calls without
    affecting production data.
    Currently, our sandbox environment is live while our production environment is under development
    and will be available soon.
    You can sign up on our Dashboard to get API keys to access Hyperswitch API.

    ### Environment

    Use the following base URLs when making requests to the APIs:

    | Environment   |  Base URL                          |
    |---------------|------------------------------------|
    | Sandbox       | <https://sandbox.hyperswitch.io>   |
    | Production    | <https://api.hyperswitch.io>       |

    ## Authentication

    When you sign up on our [dashboard](https://app.hyperswitch.io) and create a merchant
    account, you are given a secret key (also referred as api-key) and a publishable key.
    You may authenticate all API requests with Hyperswitch server by providing the appropriate key in
    the request Authorization header.

    | Key             |  Description                                                                                  |
    |-----------------|-----------------------------------------------------------------------------------------------|
    | api-key         | Private key. Used to authenticate all API requests from your merchant server                  |
    | publishable key | Unique identifier for your account. Used to authenticate API requests from your app's client  |

    Never share your secret api keys. Keep them guarded and secure.
  license:
    name: Apache-2.0
  title: Hyperswitch - API Documentation
  version: 0.1.0
servers:
- description: Sandbox Environment
  url: https://sandbox.hyperswitch.io
tags:
- description: Create and manage merchant accounts
  name: Merchant Account
- description: Create and manage profiles
  name: Profile
- description: Create and manage merchant connector accounts
  name: Merchant Connector Account
- description: "Create and manage one-time payments, recurring payments and mandates"
  name: Payments
- description: Create and manage refunds for successful payments
  name: Refunds
- description: Manage mandates
  name: Mandates
- description: Create and manage customers
  name: Customers
- description: Create and manage payment methods of customers
  name: Payment Methods
- description: Manage disputes
  name: Disputes
- description: Create and manage API Keys
  name: API Key
- description: Create and manage payouts
  name: Payouts
- description: Create payment link
  name: payment link
- description: Create and manage routing configurations
  name: Routing
- description: Manage events
  name: Event
paths:
  /v2/organization:
    post:
      description: Create a new organization
      operationId: Create an Organization
      requestBody:
        content:
          application/json:
            examples:
              Create an organization with organization_name:
                value:
                  organization_name: organization_abc
            schema:
              $ref: '#/components/schemas/OrganizationCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
          description: Organization Created
        "400":
          description: Invalid data
      security:
      - admin_api_key: []
      summary: Organization - Create
      tags:
      - Organization
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/organization/{id}:
    get:
      description: Retrieve an existing organization
      operationId: Retrieve an Organization
      parameters:
      - description: The unique identifier for the Organization
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
          description: Organization Created
        "400":
          description: Invalid data
      security:
      - admin_api_key: []
      summary: Organization - Retrieve
      tags:
      - Organization
      x-accepts:
      - application/json
    put:
      description: Create a new organization for .
      operationId: Update an Organization
      parameters:
      - description: The unique identifier for the Organization
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update organization_name of the organization:
                value:
                  organization_name: organization_abcd
            schema:
              $ref: '#/components/schemas/OrganizationUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
          description: Organization Created
        "400":
          description: Invalid data
      security:
      - admin_api_key: []
      summary: Organization - Update
      tags:
      - Organization
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/organization/{id}/merchant_accounts:
    get:
      description: List merchant accounts for an Organization
      operationId: List Merchant Accounts
      parameters:
      - description: The unique identifier for the Organization
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MerchantAccountResponse'
                type: array
          description: Merchant Account list retrieved successfully
        "400":
          description: Invalid data
      security:
      - admin_api_key: []
      summary: Organization - Merchant Account - List
      tags:
      - Organization
      x-accepts:
      - application/json
  /v2/connector_accounts:
    post:
      description: Creates a new Connector Account for the merchant account. The connector
        could be a payment processor/facilitator/acquirer or a provider of specialized
        services like Fraud/Accounting etc.
      operationId: Create a Merchant Connector
      requestBody:
        content:
          application/json:
            examples:
              Create a merchant account with custom connector label:
                value:
                  connector_account_details:
                    api_key: "{{adyen-api-key}}"
                    auth_type: BodyKey
                    key1: "{{adyen_merchant_account}}"
                  connector_label: EU_adyen
                  connector_name: adyen
                  connector_type: payment_processor
              Create a merchant connector account under a specific profile:
                value:
                  connector_account_details:
                    api_key: "{{adyen-api-key}}"
                    auth_type: BodyKey
                    key1: "{{adyen_merchant_account}}"
                  connector_name: adyen
                  connector_type: payment_processor
                  profile_id: "{{profile_id}}"
              Create a merchant connector account with minimal fields:
                value:
                  connector_account_details:
                    api_key: "{{adyen-api-key}}"
                    auth_type: BodyKey
                    key1: "{{adyen_merchant_account}}"
                  connector_name: adyen
                  connector_type: payment_processor
            schema:
              $ref: '#/components/schemas/MerchantConnectorCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantConnectorResponse'
          description: Merchant Connector Created
        "400":
          description: Missing Mandatory fields
      security:
      - admin_api_key: []
      summary: Connector Account - Create
      tags:
      - Merchant Connector Account
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/connector_accounts/{id}:
    delete:
      description: Delete or Detach a Merchant Connector from Merchant Account
      operationId: Delete a Merchant Connector
      parameters:
      - description: The unique identifier for the Merchant Connector
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantConnectorDeleteResponse'
          description: Merchant Connector Deleted
        "401":
          description: Unauthorized request
        "404":
          description: Merchant Connector does not exist in records
      security:
      - admin_api_key: []
      summary: Merchant Connector - Delete
      tags:
      - Merchant Connector Account
      x-accepts:
      - application/json
    get:
      description: Retrieves details of a Connector account
      operationId: Retrieve a Merchant Connector
      parameters:
      - description: The unique identifier for the Merchant Connector
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantConnectorResponse'
          description: Merchant Connector retrieved successfully
        "401":
          description: Unauthorized request
        "404":
          description: Merchant Connector does not exist in records
      security:
      - admin_api_key: []
      summary: Connector Account - Retrieve
      tags:
      - Merchant Connector Account
      x-accepts:
      - application/json
    put:
      description: To update an existing Connector account. Helpful in enabling/disabling
        different payment methods and other settings for the connector
      operationId: Update a Merchant Connector
      parameters:
      - description: The unique identifier for the Merchant Connector
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Enable card payment method:
                value:
                  connector_type: payment_processor
                  payment_methods_enabled:
                  - payment_method: card
              Update webhook secret:
                value:
                  connector_webhook_details:
                    merchant_secret: "{{webhook_secret}}"
            schema:
              $ref: '#/components/schemas/MerchantConnectorUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantConnectorResponse'
          description: Merchant Connector Updated
        "401":
          description: Unauthorized request
        "404":
          description: Merchant Connector does not exist in records
      security:
      - admin_api_key: []
      summary: Connector Account - Update
      tags:
      - Merchant Connector Account
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/merchant_accounts:
    post:
      description: |-
        Create a new account for a *merchant* and the *merchant* could be a seller or retailer or client who likes to receive and send payments.

        Before creating the merchant account, it is mandatory to create an organization.
      operationId: Create a Merchant Account
      parameters:
      - description: Organization ID for which the merchant account has to be created.
        example:
          X-Organization-Id: org_abcdefghijklmnop
        explode: false
        in: header
        name: X-Organization-Id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Create a merchant account with merchant details:
                value:
                  merchant_details:
                    primary_contact_person: John Doe
                    primary_email: example@company.com
                  merchant_name: Cloth Store
              Create a merchant account with metadata:
                value:
                  merchant_name: Cloth Store
                  metadata:
                    key_1: John Doe
                    key_2: Trends
              Create a merchant account with minimal fields:
                value:
                  merchant_name: Cloth Store
            schema:
              $ref: '#/components/schemas/MerchantAccountCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAccountResponse'
          description: Merchant Account Created
        "400":
          description: Invalid data
      security:
      - admin_api_key: []
      summary: Merchant Account - Create
      tags:
      - Merchant Account
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/merchant_accounts/{id}:
    get:
      description: Retrieve a *merchant* account details.
      operationId: Retrieve a Merchant Account
      parameters:
      - description: The unique identifier for the merchant account
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAccountResponse'
          description: Merchant Account Retrieved
        "404":
          description: Merchant account not found
      security:
      - admin_api_key: []
      summary: Merchant Account - Retrieve
      tags:
      - Merchant Account
      x-accepts:
      - application/json
    put:
      description: "Updates details of an existing merchant account. Helpful in updating\
        \ merchant details such as email, contact details, or other configuration\
        \ details like webhook, routing algorithm etc"
      operationId: Update a Merchant Account
      parameters:
      - description: The unique identifier for the merchant account
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update Merchant Details:
                value:
                  merchant_details:
                    primary_contact_person: John Doe
                    primary_email: example@company.com
              Update merchant name:
                value:
                  merchant_id: merchant_abc
                  merchant_name: merchant_name
            schema:
              $ref: '#/components/schemas/MerchantAccountUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAccountResponse'
          description: Merchant Account Updated
        "404":
          description: Merchant account not found
      security:
      - admin_api_key: []
      summary: Merchant Account - Update
      tags:
      - Merchant Account
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/merchant_accounts/{id}/profiles:
    get:
      description: List profiles for an Merchant
      operationId: List Profiles
      parameters:
      - description: The unique identifier for the Merchant
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProfileResponse'
                type: array
          description: profile list retrieved successfully
        "400":
          description: Invalid data
      security:
      - admin_api_key: []
      summary: Merchant Account - Profile List
      tags:
      - Merchant Account
      x-accepts:
      - application/json
  /v2/payments/{payment_id}/create-external-sdk-tokens:
    post:
      description: "Creates a session object or a session token for wallets like Apple\
        \ Pay, Google Pay, etc. These tokens are used by Hyperswitch's SDK to initiate\
        \ these wallets' SDK."
      operationId: Create Session tokens for a Payment
      parameters:
      - description: The identifier for payment
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsSessionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsSessionResponse'
          description: Payment session object created or session token was retrieved
            from wallets
        "400":
          description: Missing mandatory fields
      security:
      - publishable_key: []
      summary: Payments - Session token
      tags:
      - Payments
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/profiles:
    post:
      description: Creates a new *profile* for a merchant
      operationId: Create A Profile
      parameters:
      - description: Merchant ID of the profile.
        example:
          X-Merchant-Id: abc_iG5VNjsN9xuCg7Xx0uWh
        explode: false
        in: header
        name: X-Merchant-Id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Create a profile with profile name:
                value:
                  profile_name: shoe_business
            schema:
              $ref: '#/components/schemas/ProfileCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
          description: Account Created
        "400":
          description: Invalid data
      security:
      - admin_api_key: []
      summary: Profile - Create
      tags:
      - Profile
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/profiles/{id}:
    get:
      description: Retrieve existing *profile*
      operationId: Retrieve a Profile
      parameters:
      - description: The unique identifier for the profile
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Merchant ID of the profile.
        example:
          X-Merchant-Id: abc_iG5VNjsN9xuCg7Xx0uWh
        explode: false
        in: header
        name: X-Merchant-Id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
          description: Profile Updated
        "400":
          description: Invalid data
      security:
      - admin_api_key: []
      summary: Profile - Retrieve
      tags:
      - Profile
      x-accepts:
      - application/json
    put:
      description: Update the *profile*
      operationId: Update a Profile
      parameters:
      - description: The unique identifier for the profile
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Merchant ID of the profile.
        example:
          X-Merchant-Id: abc_iG5VNjsN9xuCg7Xx0uWh
        explode: false
        in: header
        name: X-Merchant-Id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update profile with profile name fields:
                value:
                  profile_name: shoe_business
            schema:
              $ref: '#/components/schemas/ProfileCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
          description: Profile Updated
        "400":
          description: Invalid data
      security:
      - admin_api_key: []
      summary: Profile - Update
      tags:
      - Profile
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/profiles/{id}/connector_accounts:
    get:
      description: List Connector Accounts for the profile
      operationId: List all Connector Accounts
      parameters:
      - description: The unique identifier for the business profile
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Merchant ID of the profile.
        example:
          X-Merchant-Id: abc_iG5VNjsN9xuCg7Xx0uWh
        explode: false
        in: header
        name: X-Merchant-Id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MerchantConnectorResponse'
                type: array
          description: Merchant Connector list retrieved successfully
        "401":
          description: Unauthorized request
        "404":
          description: Merchant Connector does not exist in records
      security:
      - admin_api_key: []
      summary: Profile - Connector Accounts List
      tags:
      - Business Profile
      x-accepts:
      - application/json
  /v2/profiles/{id}/activate_routing_algorithm:
    patch:
      description: Activates a routing algorithm under a profile
      operationId: Activates a routing algorithm under a profile
      parameters:
      - description: The unique identifier for the profile
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Activate a routing algorithm:
                value:
                  routing_algorithm_id: routing_algorithm_123
            schema:
              $ref: '#/components/schemas/RoutingAlgorithmId'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingDictionaryRecord'
          description: Routing Algorithm is activated
        "400":
          description: Bad request
        "404":
          description: Resource missing
        "500":
          description: Internal server error
      security:
      - api_key: []
      - jwt_key: []
      summary: Profile - Activate routing algorithm
      tags:
      - Profile
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/profiles/{id}/deactivate_routing_algorithm:
    patch:
      description: Deactivates a routing algorithm under a profile
      operationId: ' Deactivates a routing algorithm under a profile'
      parameters:
      - description: The unique identifier for the profile
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingDictionaryRecord'
          description: Successfully deactivated routing config
        "400":
          description: Malformed request
        "403":
          description: Malformed request
        "422":
          description: Unprocessable request
        "500":
          description: Internal server error
      security:
      - api_key: []
      - jwt_key: []
      summary: Profile - Deactivate routing algorithm
      tags:
      - Profile
      x-accepts:
      - application/json
  /v2/profiles/{id}/fallback_routing:
    get:
      description: Retrieve the default fallback routing algorithm for the profile
      operationId: Retrieve the default fallback routing algorithm for the profile
      parameters:
      - description: The unique identifier for the profile
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RoutableConnectorChoice'
                type: array
          description: Successfully retrieved default fallback routing algorithm
        "500":
          description: Internal server error
      security:
      - api_key: []
      - jwt_key: []
      summary: Profile - Retrieve Default Fallback Routing Algorithm
      tags:
      - Profile
      x-accepts:
      - application/json
    patch:
      description: Update the default fallback routing algorithm for the profile
      operationId: Update the default fallback routing algorithm for the profile
      parameters:
      - description: The unique identifier for the profile
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/RoutableConnectorChoice'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RoutableConnectorChoice'
                type: array
          description: Successfully updated the default fallback routing algorithm
        "400":
          description: Malformed request
        "422":
          description: Unprocessable request
        "500":
          description: Internal server error
      security:
      - api_key: []
      - jwt_key: []
      summary: Profile - Update Default Fallback Routing Algorithm
      tags:
      - Profile
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/profiles/{id}/routing_algorithm:
    get:
      description: Retrieve active routing algorithm under the profile
      operationId: Retrieve the active routing algorithm under the profile
      parameters:
      - description: The unique identifier for the profile
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of records of the algorithms to be returned
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: The record offset of the algorithm from which to start gathering
          the results
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedRoutingConfigRetrieveResponse'
          description: Successfully retrieved active config
        "403":
          description: Forbidden
        "404":
          description: Resource missing
        "500":
          description: Internal server error
      security:
      - api_key: []
      - jwt_key: []
      summary: Profile - Retrieve Active Routing Algorithm
      tags:
      - Profile
      x-accepts:
      - application/json
  /v2/routing_algorithm:
    post:
      description: Create a routing algorithm
      operationId: Create a routing algprithm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoutingConfigRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingDictionaryRecord'
          description: Routing Algorithm created
        "400":
          description: Request body is malformed
        "403":
          description: Forbidden
        "404":
          description: Resource missing
        "422":
          description: Unprocessable request
        "500":
          description: Internal server error
      security:
      - api_key: []
      - jwt_key: []
      summary: Routing - Create
      tags:
      - Routing
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/routing_algorithm/{id}:
    get:
      description: Retrieve a routing algorithm with its algorithm id
      operationId: Retrieve a routing algorithm with its algorithm id
      parameters:
      - description: The unique identifier for a routing algorithm
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantRoutingAlgorithm'
          description: Successfully fetched routing algorithm
        "403":
          description: Forbidden
        "404":
          description: Resource missing
        "500":
          description: Internal server error
      security:
      - api_key: []
      - jwt_key: []
      summary: Routing - Retrieve
      tags:
      - Routing
      x-accepts:
      - application/json
  /v2/api_keys:
    post:
      description: |-
        Create a new API Key for accessing our APIs from your servers. The plaintext API Key will be
        displayed only once on creation, so ensure you store it securely.
      operationId: Create an API Key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
          description: API Key created
        "400":
          description: Invalid data
      security:
      - admin_api_key: []
      summary: API Key - Create
      tags:
      - API Key
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/api_keys/{id}:
    delete:
      description: |-
        Revoke the specified API Key. Once revoked, the API Key can no longer be used for
        authenticating with our APIs.
      operationId: Revoke an API Key
      parameters:
      - description: The unique identifier for the API Key
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeApiKeyResponse'
          description: API Key revoked
        "404":
          description: API Key not found
      security:
      - admin_api_key: []
      summary: API Key - Revoke
      tags:
      - API Key
      x-accepts:
      - application/json
    get:
      description: Retrieve information about the specified API Key.
      operationId: Retrieve an API Key
      parameters:
      - description: The unique identifier for the API Key
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveApiKeyResponse'
          description: API Key retrieved
        "404":
          description: API Key not found
      security:
      - admin_api_key: []
      summary: API Key - Retrieve
      tags:
      - API Key
      x-accepts:
      - application/json
    put:
      description: Update information for the specified API Key.
      operationId: Update an API Key
      parameters:
      - description: The unique identifier for the API Key
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApiKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveApiKeyResponse'
          description: API Key updated
        "404":
          description: API Key not found
      security:
      - admin_api_key: []
      summary: API Key - Update
      tags:
      - API Key
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/api_keys/list:
    get:
      description: List all the API Keys associated to a merchant account.
      operationId: List all API Keys associated with a merchant account
      parameters:
      - description: The maximum number of API Keys to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: The number of API Keys to skip when retrieving the list of API
          keys.
        explode: true
        in: query
        name: skip
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RetrieveApiKeyResponse'
                type: array
          description: List of API Keys retrieved successfully
      security:
      - admin_api_key: []
      summary: API Key - List
      tags:
      - API Key
      x-accepts:
      - application/json
  /v2/customers:
    post:
      description: |-
        Creates a customer object and stores the customer details to be reused for future payments.
        Incase the customer already exists in the system, this API will respond with the customer details.
      operationId: Create a Customer
      requestBody:
        content:
          application/json:
            examples:
              Create a customer with name and email:
                value:
                  email: guest@example.com
                  name: John Doe
            schema:
              $ref: '#/components/schemas/CustomerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          description: Customer Created
        "400":
          description: Invalid data
      security:
      - api_key: []
      summary: Customers - Create
      tags:
      - Customers
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/customers/{id}:
    delete:
      description: Delete a customer record.
      operationId: Delete a Customer
      parameters:
      - description: The unique identifier for the Customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDeleteResponse'
          description: Customer was Deleted
        "404":
          description: Customer was not found
      security:
      - api_key: []
      summary: Customers - Delete
      tags:
      - Customers
      x-accepts:
      - application/json
    get:
      description: Retrieves a customer's details.
      operationId: Retrieve a Customer
      parameters:
      - description: The unique identifier for the Customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          description: Customer Retrieved
        "404":
          description: Customer was not found
      security:
      - api_key: []
      - ephemeral_key: []
      summary: Customers - Retrieve
      tags:
      - Customers
      x-accepts:
      - application/json
    post:
      description: Updates the customer's details in a customer object.
      operationId: Update a Customer
      parameters:
      - description: The unique identifier for the Customer
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update name and email of a customer:
                value:
                  email: guest@example.com
                  name: John Doe
            schema:
              $ref: '#/components/schemas/CustomerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          description: Customer was Updated
        "404":
          description: Customer was not found
      security:
      - api_key: []
      summary: Customers - Update
      tags:
      - Customers
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/customers/list:
    get:
      description: Lists all the customers for a particular merchant id.
      operationId: List all Customers for a Merchant
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomerResponse'
                type: array
          description: Customers retrieved
        "400":
          description: Invalid Data
      security:
      - api_key: []
      summary: Customers - List
      tags:
      - Customers
      x-accepts:
      - application/json
  /v2/payments/create-intent:
    post:
      description: |-
        **Creates a payment intent object when amount_details are passed.**

        You will require the 'API - Key' from the Hyperswitch dashboard to make the first call, and use the 'client secret' returned in this API along with your 'publishable key' to make subsequent API calls from your client.
      operationId: Create a Payment Intent
      requestBody:
        content:
          application/json:
            examples:
              Create a payment intent with minimal fields:
                value:
                  amount_details:
                    currency: USD
                    order_amount: 6540
            schema:
              $ref: '#/components/schemas/PaymentsCreateIntentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsIntentResponse'
          description: Payment created
        "400":
          description: Missing Mandatory fields
      security:
      - api_key: []
      summary: Payments - Create Intent
      tags:
      - Payments
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/payments/{id}/get-intent:
    get:
      description: |-
        **Get a payment intent object when id is passed in path**

        You will require the 'API - Key' from the Hyperswitch dashboard to make the call.
      operationId: Get the Payment Intent details
      parameters:
      - description: The unique identifier for the Payment Intent
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsIntentResponse'
          description: Payment Intent
        "404":
          description: Payment Intent not found
      security:
      - api_key: []
      summary: Payments - Get Intent
      tags:
      - Payments
      x-accepts:
      - application/json
  /v2/payments/{id}/confirm-intent:
    post:
      description: |-
        **Confirms a payment intent object with the payment method data**

        .
      operationId: Confirm Payment Intent
      parameters:
      - description: The payment identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Confirm the payment intent with card details:
                value:
                  payment_method_data:
                    card:
                      card_cvc: "123"
                      card_exp_month: "10"
                      card_exp_year: "25"
                      card_holder_name: joseph Doe
                      card_number: "4242424242424242"
                  payment_method_type: card
            schema:
              $ref: '#/components/schemas/PaymentsConfirmIntentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsConfirmIntentResponse'
          description: Payment created
        "400":
          description: Missing Mandatory fields
      security:
      - publisable_key: []
      summary: Payments - Confirm Intent
      tags:
      - Payments
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/refunds:
    post:
      description: "Creates a refund against an already processed payment. In case\
        \ of some processors, you can even opt to refund only a partial amount multiple\
        \ times until the original charge amount has been refunded"
      operationId: Create a Refund
      requestBody:
        content:
          application/json:
            examples:
              Create an instant refund to refund partial amount:
                value:
                  amount: 654
                  merchant_reference_id: ref_123
                  payment_id: "{{payment_id}}"
                  refund_type: instant
              Create an instant refund to refund the whole amount:
                value:
                  merchant_reference_id: ref_123
                  payment_id: "{{payment_id}}"
                  refund_type: instant
              Create an instant refund with reason:
                value:
                  amount: 6540
                  merchant_reference_id: ref_123
                  payment_id: "{{payment_id}}"
                  reason: Customer returned product
                  refund_type: instant
            schema:
              $ref: '#/components/schemas/RefundsCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
          description: Refund created
        "400":
          description: Missing Mandatory fields
      security:
      - api_key: []
      summary: Refunds - Create
      tags:
      - Refunds
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    AcceptanceType:
      description: This is used to indicate if the mandate was accepted online or
        offline
      enum:
      - online
      - offline
      type: string
    AcceptedCountries:
      description: Object to filter the customer countries for which the payment method
        is displayed
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/AcceptedCountries_oneOf'
      - $ref: '#/components/schemas/AcceptedCountries_oneOf_1'
      - $ref: '#/components/schemas/AcceptedCountries_oneOf_2'
    AcceptedCurrencies:
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/AcceptedCurrencies_oneOf'
      - $ref: '#/components/schemas/AcceptedCurrencies_oneOf_1'
      - $ref: '#/components/schemas/AcceptedCountries_oneOf_2'
    AchBankDebitAdditionalData:
      properties:
        account_number:
          description: Partially masked account number for ach bank debit payment
          example: 0001****3456
          type: string
        routing_number:
          description: Partially masked routing number for ach bank debit payment
          example: 110***000
          type: string
        card_holder_name:
          description: Card holder's name
          example: John Doe
          nullable: true
          type: string
        bank_account_holder_name:
          description: Bank account's owner name
          example: John Doe
          nullable: true
          type: string
        bank_name:
          allOf:
          - $ref: '#/components/schemas/BankNames'
          nullable: true
        bank_type:
          allOf:
          - $ref: '#/components/schemas/BankType'
          nullable: true
        bank_holder_type:
          allOf:
          - $ref: '#/components/schemas/BankHolderType'
          nullable: true
      required:
      - account_number
      - routing_number
      type: object
    AchBankTransfer:
      properties:
        bank_name:
          description: Bank name
          example: Deutsche Bank
          nullable: true
          type: string
        bank_country_code:
          allOf:
          - $ref: '#/components/schemas/CountryAlpha2'
          nullable: true
        bank_city:
          description: Bank city
          example: California
          nullable: true
          type: string
        bank_account_number:
          description: Bank account number is an unique identifier assigned by a bank
            to a customer.
          example: "000123456"
          type: string
        bank_routing_number:
          description: "[9 digits] Routing number - used in USA for identifying a\
            \ specific bank."
          example: "110000000"
          type: string
      required:
      - bank_account_number
      - bank_routing_number
      type: object
    AchBankTransferAdditionalData:
      description: Masked payout method details for ach bank transfer payout method
      properties:
        bank_account_number:
          description: Partially masked account number for ach bank debit payment
          example: 0001****3456
          type: string
        bank_routing_number:
          description: Partially masked routing number for ach bank debit payment
          example: 110***000
          type: string
        bank_name:
          allOf:
          - $ref: '#/components/schemas/BankNames'
          nullable: true
        bank_country_code:
          allOf:
          - $ref: '#/components/schemas/CountryAlpha2'
          nullable: true
        bank_city:
          description: Bank city
          example: California
          nullable: true
          type: string
      required:
      - bank_account_number
      - bank_routing_number
      type: object
    AchBillingDetails:
      properties:
        email:
          description: The Email ID for ACH billing
          example: example@me.com
          nullable: true
          type: string
      type: object
    AchTransfer:
      properties:
        account_number:
          example: "122385736258"
          type: string
        bank_name:
          type: string
        routing_number:
          example: "012"
          type: string
        swift_code:
          example: "234"
          type: string
      required:
      - account_number
      - bank_name
      - routing_number
      - swift_code
      type: object
    AdditionalMerchantData:
      oneOf:
      - $ref: '#/components/schemas/AdditionalMerchantData_oneOf'
    AdditionalPayoutMethodData:
      description: Masked payout method details for storing in db
      oneOf:
      - $ref: '#/components/schemas/AdditionalPayoutMethodData_oneOf'
      - $ref: '#/components/schemas/AdditionalPayoutMethodData_oneOf_1'
      - $ref: '#/components/schemas/AdditionalPayoutMethodData_oneOf_2'
    Address:
      additionalProperties: false
      properties:
        address:
          allOf:
          - $ref: '#/components/schemas/AddressDetails'
          nullable: true
        phone:
          allOf:
          - $ref: '#/components/schemas/PhoneDetails'
          nullable: true
        email:
          nullable: true
          type: string
      type: object
    AddressDetails:
      additionalProperties: false
      description: Address details
      properties:
        city:
          description: The address city
          example: New York
          maxLength: 50
          nullable: true
          type: string
        country:
          allOf:
          - $ref: '#/components/schemas/CountryAlpha2'
          nullable: true
        line1:
          description: The first line of the address
          example: "123, King Street"
          maxLength: 200
          nullable: true
          type: string
        line2:
          description: The second line of the address
          example: Powelson Avenue
          maxLength: 50
          nullable: true
          type: string
        line3:
          description: The third line of the address
          example: Bridgewater
          maxLength: 50
          nullable: true
          type: string
        zip:
          description: The zip/postal code for the address
          example: "08807"
          maxLength: 50
          nullable: true
          type: string
        state:
          description: The address state
          example: New York
          nullable: true
          type: string
        first_name:
          description: The first name for the address
          example: John
          maxLength: 255
          nullable: true
          type: string
        last_name:
          description: The last name for the address
          example: Doe
          maxLength: 255
          nullable: true
          type: string
      type: object
    AirwallexData:
      properties:
        payload:
          description: payload required by airwallex
          nullable: true
          type: string
      type: object
    AlfamartVoucherData:
      properties:
        first_name:
          description: The billing first name for Alfamart
          example: Jane
          nullable: true
          type: string
        last_name:
          description: The billing second name for Alfamart
          example: Doe
          nullable: true
          type: string
        email:
          description: The Email ID for Alfamart
          example: example@me.com
          nullable: true
          type: string
      type: object
    AliPayHkRedirection:
      type: object
    AliPayQr:
      type: object
    AliPayRedirection:
      type: object
    AmountDetails:
      example:
        skip_external_tax_calculation: Skip
        skip_surcharge_calculation: Skip
        order_tax_amount: ""
        shipping_cost: ""
        order_amount: 6540
        currency: AED
        tax_on_surcharge: ""
        surcharge_amount: ""
      properties:
        order_amount:
          description: "The payment amount. Amount for the payment in the lowest denomination\
            \ of the currency, (i.e) in cents for USD denomination, in yen for JPY\
            \ denomination etc. E.g., Pass 100 to charge $1.00 and 1 for 1¥ since\
            \ ¥ is a zero-decimal currency. Read more about [the Decimal and Non-Decimal\
            \ Currencies](https://github.com/juspay/hyperswitch/wiki/Decimal-and-Non%E2%80%90Decimal-Currencies)"
          example: 6540
          format: int64
          minimum: 0
          type: integer
        currency:
          $ref: '#/components/schemas/Currency'
        shipping_cost:
          allOf:
          - $ref: '#/components/schemas/MinorUnit'
          nullable: true
        order_tax_amount:
          allOf:
          - $ref: '#/components/schemas/MinorUnit'
          nullable: true
        skip_external_tax_calculation:
          $ref: '#/components/schemas/TaxCalculationOverride'
        skip_surcharge_calculation:
          $ref: '#/components/schemas/SurchargeCalculationOverride'
        surcharge_amount:
          allOf:
          - $ref: '#/components/schemas/MinorUnit'
          nullable: true
        tax_on_surcharge:
          allOf:
          - $ref: '#/components/schemas/MinorUnit'
          nullable: true
      required:
      - currency
      type: object
    AmountDetailsResponse:
      example:
        skip_external_tax_calculation: Skip
        skip_surcharge_calculation: Skip
        order_tax_amount: ""
        shipping_cost: ""
        order_amount: 6540
        currency: AED
        tax_on_surcharge: ""
        surcharge_amount: ""
      properties:
        order_amount:
          description: "The payment amount. Amount for the payment in the lowest denomination\
            \ of the currency, (i.e) in cents for USD denomination, in yen for JPY\
            \ denomination etc. E.g., Pass 100 to charge $1.00 and 1 for 1¥ since\
            \ ¥ is a zero-decimal currency. Read more about [the Decimal and Non-Decimal\
            \ Currencies](https://github.com/juspay/hyperswitch/wiki/Decimal-and-Non%E2%80%90Decimal-Currencies)"
          example: 6540
          format: int64
          minimum: 0
          type: integer
        currency:
          $ref: '#/components/schemas/Currency'
        shipping_cost:
          allOf:
          - $ref: '#/components/schemas/MinorUnit'
          nullable: true
        order_tax_amount:
          allOf:
          - $ref: '#/components/schemas/MinorUnit'
          nullable: true
        skip_external_tax_calculation:
          $ref: '#/components/schemas/TaxCalculationOverride'
        skip_surcharge_calculation:
          $ref: '#/components/schemas/SurchargeCalculationOverride'
        surcharge_amount:
          allOf:
          - $ref: '#/components/schemas/MinorUnit'
          nullable: true
        tax_on_surcharge:
          allOf:
          - $ref: '#/components/schemas/MinorUnit'
          nullable: true
      required:
      - currency
      - order_amount
      - skip_external_tax_calculation
      - skip_surcharge_calculation
      type: object
    AmountFilter:
      properties:
        start_amount:
          description: The start amount to filter list of transactions which are greater
            than or equal to the start amount
          format: int64
          nullable: true
          type: integer
        end_amount:
          description: The end amount to filter list of transactions which are less
            than or equal to the end amount
          format: int64
          nullable: true
          type: integer
      type: object
    AmountInfo:
      properties:
        label:
          description: The label must be the name of the merchant.
          type: string
        type:
          description: "A value that indicates whether the line item(Ex: total, tax,\
            \ discount, or grand total) is final or pending."
          nullable: true
          type: string
        amount:
          description: "The total amount for the payment in majot unit string (Ex:\
            \ 38.02)"
          example: "38.02"
          type: string
      required:
      - amount
      - label
      type: object
    ApiKeyExpiration:
      oneOf:
      - enum:
        - never
        type: string
      - format: date-time
        type: string
    ApplePayAddressParameters:
      enum:
      - postalAddress
      - phone
      - email
      type: string
    ApplePayBillingContactFields:
      items:
        $ref: '#/components/schemas/ApplePayAddressParameters'
      type: array
    ApplePayPaymentRequest:
      properties:
        country_code:
          $ref: '#/components/schemas/CountryAlpha2'
        currency_code:
          $ref: '#/components/schemas/Currency'
        total:
          $ref: '#/components/schemas/AmountInfo'
        merchant_capabilities:
          description: "The list of merchant capabilities(ex: whether capable of 3ds\
            \ or no-3ds)"
          items:
            type: string
          nullable: true
          type: array
        supported_networks:
          description: The list of supported networks
          items:
            type: string
          nullable: true
          type: array
        merchant_identifier:
          nullable: true
          type: string
        required_billing_contact_fields:
          allOf:
          - $ref: '#/components/schemas/ApplePayBillingContactFields'
          nullable: true
        required_shipping_contact_fields:
          allOf:
          - $ref: '#/components/schemas/ApplePayShippingContactFields'
          nullable: true
      required:
      - country_code
      - currency_code
      - total
      type: object
    ApplePayRedirectData:
      type: object
    ApplePaySessionResponse:
      oneOf:
      - $ref: '#/components/schemas/ThirdPartySdkSessionResponse'
      - $ref: '#/components/schemas/NoThirdPartySdkSessionResponse'
      - default: {}
        nullable: true
        type: object
    ApplePayShippingContactFields:
      items:
        $ref: '#/components/schemas/ApplePayAddressParameters'
      type: array
    ApplePayThirdPartySdkData:
      type: object
    ApplePayWalletData:
      properties:
        payment_data:
          description: The payment data of Apple pay
          type: string
        payment_method:
          $ref: '#/components/schemas/ApplepayPaymentMethod'
        transaction_identifier:
          description: The unique identifier for the transaction
          type: string
      required:
      - payment_data
      - payment_method
      - transaction_identifier
      type: object
    ApplepayConnectorMetadataRequest:
      properties:
        session_token_data:
          allOf:
          - $ref: '#/components/schemas/SessionTokenInfo'
          nullable: true
      type: object
    ApplepayInitiative:
      enum:
      - web
      - ios
      type: string
    ApplepayPaymentMethod:
      properties:
        display_name:
          description: The name to be displayed on Apple Pay button
          type: string
        network:
          description: The network of the Apple pay payment method
          type: string
        type:
          description: The type of the payment method
          type: string
      required:
      - display_name
      - network
      - type
      type: object
    ApplepaySessionTokenResponse:
      properties:
        session_token_data:
          allOf:
          - $ref: '#/components/schemas/ApplePaySessionResponse'
          nullable: true
        payment_request_data:
          allOf:
          - $ref: '#/components/schemas/ApplePayPaymentRequest'
          nullable: true
        connector:
          description: The session token is w.r.t this connector
          type: string
        delayed_session_token:
          description: Identifier for the delayed session response
          type: boolean
        sdk_next_action:
          $ref: '#/components/schemas/SdkNextAction'
        connector_reference_id:
          description: The connector transaction id
          nullable: true
          type: string
        connector_sdk_public_key:
          description: The public key id is to invoke third party sdk
          nullable: true
          type: string
        connector_merchant_id:
          description: The connector merchant id
          nullable: true
          type: string
      required:
      - connector
      - delayed_session_token
      - sdk_next_action
      type: object
    AttemptStatus:
      description: The status of the attempt
      enum:
      - started
      - authentication_failed
      - router_declined
      - authentication_pending
      - authentication_successful
      - authorized
      - authorization_failed
      - charged
      - authorizing
      - cod_initiated
      - voided
      - void_initiated
      - capture_initiated
      - capture_failed
      - void_failed
      - auto_refunded
      - partial_charged
      - partial_charged_and_chargeable
      - unresolved
      - pending
      - failure
      - payment_method_awaited
      - confirmation_awaited
      - device_data_collection_pending
      type: string
    AuthenticationConnectorDetails:
      properties:
        authentication_connectors:
          description: List of authentication connectors
          items:
            $ref: '#/components/schemas/AuthenticationConnectors'
          type: array
        three_ds_requestor_url:
          description: URL of the (customer service) website that will be shown to
            the shopper in case of technical errors during the 3D Secure 2 process.
          type: string
      required:
      - authentication_connectors
      - three_ds_requestor_url
      type: object
    AuthenticationConnectors:
      enum:
      - threedsecureio
      - netcetera
      - gpayments
      type: string
    AuthenticationStatus:
      enum:
      - started
      - pending
      - success
      - failed
      type: string
    AuthenticationType:
      description: Pass this parameter to force 3DS or non 3DS auth for this payment.
        Some connectors will still force 3DS auth even in case of passing 'no_three_ds'
        here and vice versa. Default value is 'no_three_ds' if not set
      enum:
      - three_ds
      - no_three_ds
      type: string
    AuthorizationStatus:
      enum:
      - success
      - failure
      - processing
      - unresolved
      type: string
    BacsBankDebitAdditionalData:
      properties:
        account_number:
          description: Partially masked account number for Bacs payment method
          example: 0001****3456
          type: string
        sort_code:
          description: Partially masked sort code for Bacs payment method
          example: "108800"
          type: string
        bank_account_holder_name:
          description: Bank account's owner name
          example: John Doe
          nullable: true
          type: string
      required:
      - account_number
      - sort_code
      type: object
    BacsBankTransfer:
      properties:
        bank_name:
          description: Bank name
          example: Deutsche Bank
          nullable: true
          type: string
        bank_country_code:
          allOf:
          - $ref: '#/components/schemas/CountryAlpha2'
          nullable: true
        bank_city:
          description: Bank city
          example: California
          nullable: true
          type: string
        bank_account_number:
          description: Bank account number is an unique identifier assigned by a bank
            to a customer.
          example: "000123456"
          type: string
        bank_sort_code:
          description: "[6 digits] Sort Code - used in UK and Ireland for identifying\
            \ a bank and it's branches."
          example: 98-76-54
          type: string
      required:
      - bank_account_number
      - bank_sort_code
      type: object
    BacsBankTransferAdditionalData:
      description: Masked payout method details for bacs bank transfer payout method
      properties:
        bank_sort_code:
          description: Partially masked sort code for Bacs payment method
          example: "108800"
          type: string
        bank_account_number:
          description: Bank account's owner name
          example: 0001****3456
          type: string
        bank_name:
          description: Bank name
          example: Deutsche Bank
          nullable: true
          type: string
        bank_country_code:
          allOf:
          - $ref: '#/components/schemas/CountryAlpha2'
          nullable: true
        bank_city:
          description: Bank city
          example: California
          nullable: true
          type: string
      required:
      - bank_account_number
      - bank_sort_code
      type: object
    BacsBankTransferInstructions:
      properties:
        account_holder_name:
          example: Jane Doe
          type: string
        account_number:
          example: "10244123908"
          type: string
        sort_code:
          example: "012"
          type: string
      required:
      - account_holder_name
      - account_number
      - sort_code
      type: object
    BancontactBankRedirectAdditionalData:
      properties:
        last4:
          description: Last 4 digits of the card number
          example: "4242"
          nullable: true
          type: string
        card_exp_month:
          description: The card's expiry month
          example: "12"
          nullable: true
          type: string
        card_exp_year:
          description: The card's expiry year
          example: "24"
          nullable: true
          type: string
        card_holder_name:
          description: The card holder's name
          example: John Test
          nullable: true
          type: string
      type: object
    Bank:
      oneOf:
      - $ref: '#/components/schemas/AchBankTransfer'
      - $ref: '#/components/schemas/BacsBankTransfer'
      - $ref: '#/components/schemas/SepaBankTransfer'
      - $ref: '#/components/schemas/PixBankTransfer'
    BankAdditionalData:
      description: Masked payout method details for bank payout method
      oneOf:
      - $ref: '#/components/schemas/AchBankTransferAdditionalData'
      - $ref: '#/components/schemas/BacsBankTransferAdditionalData'
      - $ref: '#/components/schemas/SepaBankTransferAdditionalData'
      - $ref: '#/components/schemas/PixBankTransferAdditionalData'
    BankDebitAdditionalData:
      oneOf:
      - $ref: '#/components/schemas/BankDebitAdditionalData_oneOf'
      - $ref: '#/components/schemas/BankDebitAdditionalData_oneOf_1'
      - $ref: '#/components/schemas/BankDebitAdditionalData_oneOf_2'
      - $ref: '#/components/schemas/BankDebitAdditionalData_oneOf_3'
    BankDebitBilling:
      properties:
        name:
          description: The billing name for bank debits
          example: John Doe
          nullable: true
          type: string
        email:
          description: The billing email for bank debits
          example: example@example.com
          nullable: true
          type: string
        address:
          allOf:
          - $ref: '#/components/schemas/AddressDetails'
          nullable: true
      type: object
    BankDebitData:
      oneOf:
      - $ref: '#/components/schemas/BankDebitData_oneOf'
      - $ref: '#/components/schemas/BankDebitData_oneOf_1'
      - $ref: '#/components/schemas/BankDebitData_oneOf_2'
      - $ref: '#/components/schemas/BankDebitData_oneOf_3'
    BankDebitResponse:
      allOf:
      - allOf:
        - $ref: '#/components/schemas/BankDebitAdditionalData'
        nullable: true
      - type: object
    BankHolderType:
      enum:
      - personal
      - business
      type: string
    BankNames:
      description: Name of banks supported by Hyperswitch
      enum:
      - american_express
      - affin_bank
      - agro_bank
      - alliance_bank
      - am_bank
      - bank_of_america
      - bank_of_china
      - bank_islam
      - bank_muamalat
      - bank_rakyat
      - bank_simpanan_nasional
      - barclays
      - blik_p_s_p
      - capital_one
      - chase
      - citi
      - cimb_bank
      - discover
      - navy_federal_credit_union
      - pentagon_federal_credit_union
      - synchrony_bank
      - wells_fargo
      - abn_amro
      - asn_bank
      - bunq
      - handelsbanken
      - hong_leong_bank
      - hsbc_bank
      - ing
      - knab
      - kuwait_finance_house
      - moneyou
      - rabobank
      - regiobank
      - revolut
      - sns_bank
      - triodos_bank
      - van_lanschot
      - arzte_und_apotheker_bank
      - austrian_anadi_bank_ag
      - bank_austria
      - bank99_ag
      - bankhaus_carl_spangler
      - bankhaus_schelhammer_und_schattera_ag
      - bank_millennium
      - bank_p_e_k_a_o_s_a
      - bawag_psk_ag
      - bks_bank_ag
      - brull_kallmus_bank_ag
      - btv_vier_lander_bank
      - capital_bank_grawe_gruppe_ag
      - ceska_sporitelna
      - dolomitenbank
      - easybank_ag
      - e_platby_v_u_b
      - erste_bank_und_sparkassen
      - friesland_bank
      - hypo_alpeadriabank_international_ag
      - hypo_noe_lb_fur_niederosterreich_u_wien
      - hypo_oberosterreich_salzburg_steiermark
      - hypo_tirol_bank_ag
      - hypo_vorarlberg_bank_ag
      - hypo_bank_burgenland_aktiengesellschaft
      - komercni_banka
      - m_bank
      - marchfelder_bank
      - maybank
      - oberbank_ag
      - osterreichische_arzte_und_apothekerbank
      - ocbc_bank
      - pay_with_i_n_g
      - place_z_i_p_k_o
      - platnosc_online_karta_platnicza
      - posojilnica_bank_e_gen
      - postova_banka
      - public_bank
      - raiffeisen_bankengruppe_osterreich
      - rhb_bank
      - schelhammer_capital_bank_ag
      - standard_chartered_bank
      - schoellerbank_ag
      - sparda_bank_wien
      - sporo_pay
      - santander_przelew24
      - tatra_pay
      - viamo
      - volksbank_gruppe
      - volkskreditbank_ag
      - vr_bank_braunau
      - uob_bank
      - pay_with_alior_bank
      - banki_spoldzielcze
      - pay_with_inteligo
      - b_n_p_paribas_poland
      - bank_nowy_s_a
      - credit_agricole
      - pay_with_b_o_s
      - pay_with_citi_handlowy
      - pay_with_plus_bank
      - toyota_bank
      - velo_bank
      - e_transfer_pocztowy24
      - plus_bank
      - etransfer_pocztowy24
      - banki_spbdzielcze
      - bank_nowy_bfg_sa
      - getin_bank
      - blik
      - noble_pay
      - idea_bank
      - envelo_bank
      - nest_przelew
      - mbank_mtransfer
      - inteligo
      - pbac_z_ipko
      - bnp_paribas
      - bank_pekao_sa
      - volkswagen_bank
      - alior_bank
      - boz
      - bangkok_bank
      - krungsri_bank
      - krung_thai_bank
      - the_siam_commercial_bank
      - kasikorn_bank
      - open_bank_success
      - open_bank_failure
      - open_bank_cancelled
      - aib
      - bank_of_scotland
      - danske_bank
      - first_direct
      - first_trust
      - halifax
      - lloyds
      - monzo
      - nat_west
      - nationwide_bank
      - royal_bank_of_scotland
      - starling
      - tsb_bank
      - tesco_bank
      - ulster_bank
      - yoursafe
      - n26
      - nationale_nederlanden
      type: string
    BankRedirectBilling:
      properties:
        billing_name:
          description: The name for which billing is issued
          example: John Doe
          type: string
        email:
          description: The billing email for bank redirect
          example: example@example.com
          type: string
      required:
      - billing_name
      - email
      type: object
    BankRedirectData:
      oneOf:
      - $ref: '#/components/schemas/BankRedirectData_oneOf'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_1'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_2'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_3'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_4'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_5'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_6'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_7'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_8'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_9'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_10'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_11'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_12'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_13'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_14'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_15'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_16'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_17'
    BankRedirectDetails:
      oneOf:
      - $ref: '#/components/schemas/BankRedirectDetails_oneOf'
      - $ref: '#/components/schemas/BankRedirectDetails_oneOf_1'
      - $ref: '#/components/schemas/BankRedirectDetails_oneOf_2'
    BankRedirectResponse:
      allOf:
      - allOf:
        - $ref: '#/components/schemas/BankRedirectDetails'
        nullable: true
      - properties:
          bank_name:
            allOf:
            - $ref: '#/components/schemas/BankNames'
            nullable: true
        type: object
    BankTransferAdditionalData:
      oneOf:
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_1'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_2'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_3'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_4'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_5'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_6'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_7'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_8'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_9'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_10'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_11'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_12'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_13'
    BankTransferData:
      oneOf:
      - $ref: '#/components/schemas/BankTransferData_oneOf'
      - $ref: '#/components/schemas/BankTransferData_oneOf_1'
      - $ref: '#/components/schemas/BankTransferData_oneOf_2'
      - $ref: '#/components/schemas/BankTransferData_oneOf_3'
      - $ref: '#/components/schemas/BankTransferData_oneOf_4'
      - $ref: '#/components/schemas/BankTransferData_oneOf_5'
      - $ref: '#/components/schemas/BankTransferData_oneOf_6'
      - $ref: '#/components/schemas/BankTransferData_oneOf_7'
      - $ref: '#/components/schemas/BankTransferData_oneOf_8'
      - $ref: '#/components/schemas/BankTransferData_oneOf_9'
      - $ref: '#/components/schemas/BankTransferData_oneOf_10'
      - $ref: '#/components/schemas/BankTransferData_oneOf_11'
      - $ref: '#/components/schemas/BankTransferAdditionalData_oneOf_12'
      - $ref: '#/components/schemas/BankTransferData_oneOf_12'
    BankTransferInstructions:
      oneOf:
      - $ref: '#/components/schemas/BankTransferInstructions_oneOf'
      - $ref: '#/components/schemas/BankTransferInstructions_oneOf_1'
      - $ref: '#/components/schemas/BankTransferInstructions_oneOf_2'
      - $ref: '#/components/schemas/BankTransferInstructions_oneOf_3'
      - $ref: '#/components/schemas/BankTransferInstructions_oneOf_4'
    BankTransferNextStepsData:
      allOf:
      - $ref: '#/components/schemas/BankTransferInstructions'
      - properties:
          receiver:
            allOf:
            - $ref: '#/components/schemas/ReceiverDetails'
            nullable: true
        type: object
    BankTransferResponse:
      allOf:
      - allOf:
        - $ref: '#/components/schemas/BankTransferAdditionalData'
        nullable: true
      - type: object
    BankType:
      enum:
      - checking
      - savings
      type: string
    BecsBankDebitAdditionalData:
      properties:
        account_number:
          description: Partially masked account number for Becs payment method
          example: 0001****3456
          type: string
        bsb_number:
          description: Bank-State-Branch (bsb) number
          example: "000000"
          type: string
        bank_account_holder_name:
          description: Bank account's owner name
          example: John Doe
          nullable: true
          type: string
      required:
      - account_number
      - bsb_number
      type: object
    BlikBankRedirectAdditionalData:
      properties:
        blik_code:
          example: 3GD9MO
          nullable: true
          type: string
      type: object
    BlocklistDataKind:
      enum:
      - payment_method
      - card_bin
      - extended_card_bin
      type: string
    BlocklistRequest:
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/BlocklistRequest_oneOf'
      - $ref: '#/components/schemas/BlocklistRequest_oneOf_1'
      - $ref: '#/components/schemas/BlocklistRequest_oneOf_2'
    BlocklistResponse:
      properties:
        fingerprint_id:
          type: string
        data_kind:
          $ref: '#/components/schemas/BlocklistDataKind'
        created_at:
          format: date-time
          type: string
      required:
      - created_at
      - data_kind
      - fingerprint_id
      type: object
    BoletoVoucherData:
      properties:
        social_security_number:
          description: The shopper's social security number
          nullable: true
          type: string
      type: object
    BrowserInformation:
      description: Browser information to be used for 3DS 2.0
      properties:
        color_depth:
          description: Color depth supported by the browser
          format: int32
          minimum: 0
          nullable: true
          type: integer
        java_enabled:
          description: Whether java is enabled in the browser
          nullable: true
          type: boolean
        java_script_enabled:
          description: Whether javascript is enabled in the browser
          nullable: true
          type: boolean
        language:
          description: Language supported
          nullable: true
          type: string
        screen_height:
          description: The screen height in pixels
          format: int32
          minimum: 0
          nullable: true
          type: integer
        screen_width:
          description: The screen width in pixels
          format: int32
          minimum: 0
          nullable: true
          type: integer
        time_zone:
          description: Time zone of the client
          format: int32
          nullable: true
          type: integer
        ip_address:
          description: Ip address of the client
          nullable: true
          type: string
        accept_header:
          description: List of headers that are accepted
          example: "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8"
          nullable: true
          type: string
        user_agent:
          description: User-agent of the browser
          nullable: true
          type: string
      type: object
    BusinessCollectLinkConfig:
      allOf:
      - $ref: '#/components/schemas/BusinessGenericLinkConfig'
      - properties:
          enabled_payment_methods:
            description: List of payment methods shown on collect UI
            example: "[{\"payment_method\": \"bank_transfer\", \"payment_method_types\"\
              : [\"ach\", \"bacs\", \"sepa\"]}]"
            items:
              $ref: '#/components/schemas/EnabledPaymentMethod'
            type: array
        required:
        - enabled_payment_methods
        type: object
    BusinessGenericLinkConfig:
      allOf:
      - $ref: '#/components/schemas/GenericLinkUiConfig'
      - properties:
          domain_name:
            description: Custom domain name to be used for hosting the link
            nullable: true
            type: string
          allowed_domains:
            description: A list of allowed domains (glob patterns) where this link
              can be embedded / opened from
            items:
              type: string
            type: array
            uniqueItems: true
        required:
        - allowed_domains
        type: object
    BusinessPaymentLinkConfig:
      allOf:
      - $ref: '#/components/schemas/PaymentLinkConfigRequest'
      - properties:
          domain_name:
            description: Custom domain name to be used for hosting the link in your
              own domain
            nullable: true
            type: string
          business_specific_configs:
            additionalProperties:
              $ref: '#/components/schemas/PaymentLinkConfigRequest'
            description: list of configs for multi theme setup
            nullable: true
            type: object
          allowed_domains:
            description: A list of allowed domains (glob patterns) where this link
              can be embedded / opened from
            items:
              type: string
            nullable: true
            type: array
            uniqueItems: true
        type: object
    BusinessPayoutLinkConfig:
      allOf:
      - $ref: '#/components/schemas/BusinessGenericLinkConfig'
      - properties:
          form_layout:
            allOf:
            - $ref: '#/components/schemas/UIWidgetFormLayout'
            nullable: true
          payout_test_mode:
            default: false
            description: Allows for removing any validations / pre-requisites which
              are necessary in a production environment
            nullable: true
            type: boolean
        type: object
    CaptureMethod:
      description: Default value if not passed is set to 'automatic' which results
        in Auth and Capture in one single API request. Pass 'manual' or 'manual_multiple'
        in case you want do a separate Auth and Capture by first authorizing and placing
        a hold on your customer's funds so that you can use the Payments/Capture endpoint
        later to capture the authorized amount. Pass 'manual' if you want to only
        capture the amount later once or 'manual_multiple' if you want to capture
        the funds multiple times later. Both 'manual' and 'manual_multiple' are only
        supported by a specific list of processors
      enum:
      - automatic
      - manual
      - manual_multiple
      - scheduled
      type: string
    CaptureResponse:
      properties:
        capture_id:
          description: Unique identifier for the capture
          type: string
        status:
          $ref: '#/components/schemas/CaptureStatus'
        amount:
          description: "The capture amount. Amount for the payment in lowest denomination\
            \ of the currency. (i.e) in cents for USD denomination, in paisa for INR\
            \ denomination etc.,"
          example: 6540
          format: int64
          type: integer
        currency:
          allOf:
          - $ref: '#/components/schemas/Currency'
          nullable: true
        connector:
          description: The connector used for the payment
          type: string
        authorized_attempt_id:
          description: Unique identifier for the parent attempt on which this capture
            is made
          type: string
        connector_capture_id:
          description: A unique identifier for this capture provided by the connector
          nullable: true
          type: string
        capture_sequence:
          description: "Sequence number of this capture, in the series of captures\
            \ made for the parent attempt"
          format: int32
          type: integer
        error_message:
          description: If there was an error while calling the connector the error
            message is received here
          nullable: true
          type: string
        error_code:
          description: If there was an error while calling the connectors the code
            is received here
          nullable: true
          type: string
        error_reason:
          description: If there was an error while calling the connectors the reason
            is received here
          nullable: true
          type: string
        reference_id:
          description: Reference to the capture at connector side
          nullable: true
          type: string
      required:
      - amount
      - authorized_attempt_id
      - capture_id
      - capture_sequence
      - connector
      - status
      type: object
    CaptureStatus:
      enum:
      - started
      - charged
      - pending
      - failed
      type: string
    Card:
      properties:
        card_number:
          description: The card number
          example: "4242424242424242"
          type: string
        card_exp_month:
          description: The card's expiry month
          example: "24"
          type: string
        card_exp_year:
          description: The card's expiry year
          example: "24"
          type: string
        card_holder_name:
          description: The card holder's name
          example: John Test
          type: string
        card_cvc:
          description: The CVC number for the card
          example: "242"
          type: string
        card_issuer:
          description: The name of the issuer of card
          example: chase
          nullable: true
          type: string
        card_network:
          allOf:
          - $ref: '#/components/schemas/CardNetwork'
          nullable: true
        card_type:
          example: CREDIT
          nullable: true
          type: string
        card_issuing_country:
          example: INDIA
          nullable: true
          type: string
        bank_code:
          example: JP_AMEX
          nullable: true
          type: string
        nick_name:
          description: The card holder's nick name
          example: John Test
          nullable: true
          type: string
      required:
      - card_cvc
      - card_exp_month
      - card_exp_year
      - card_holder_name
      - card_number
      type: object
    CardAdditionalData:
      description: Masked payout method details for card payout method
      properties:
        card_issuer:
          description: Issuer of the card
          nullable: true
          type: string
        card_network:
          allOf:
          - $ref: '#/components/schemas/CardNetwork'
          nullable: true
        card_type:
          description: "Card type, can be either `credit` or `debit`"
          nullable: true
          type: string
        card_issuing_country:
          description: Card issuing country
          nullable: true
          type: string
        bank_code:
          description: Code for Card issuing bank
          nullable: true
          type: string
        last4:
          description: Last 4 digits of the card number
          nullable: true
          type: string
        card_isin:
          description: The ISIN of the card
          nullable: true
          type: string
        card_extended_bin:
          description: "Extended bin of card, contains the first 8 digits of card\
            \ number"
          nullable: true
          type: string
        card_exp_month:
          description: Card expiry month
          example: "01"
          type: string
        card_exp_year:
          description: Card expiry year
          example: "2026"
          type: string
        card_holder_name:
          description: Card holder name
          example: John Doe
          type: string
      required:
      - card_exp_month
      - card_exp_year
      - card_holder_name
      type: object
    CardDetail:
      additionalProperties: false
      properties:
        card_number:
          description: Card Number
          example: "4111111145551142"
          type: string
        card_exp_month:
          description: Card Expiry Month
          example: "10"
          type: string
        card_exp_year:
          description: Card Expiry Year
          example: "25"
          type: string
        card_holder_name:
          description: Card Holder Name
          example: John Doe
          type: string
        nick_name:
          description: Card Holder's Nick Name
          example: John Doe
          nullable: true
          type: string
        card_issuing_country:
          description: Card Issuing Country
          nullable: true
          type: string
        card_network:
          allOf:
          - $ref: '#/components/schemas/CardNetwork'
          nullable: true
        card_issuer:
          description: Issuer Bank for Card
          nullable: true
          type: string
        card_type:
          description: Card Type
          nullable: true
          type: string
      required:
      - card_exp_month
      - card_exp_year
      - card_holder_name
      - card_number
      type: object
    CardDetailFromLocker:
      properties:
        scheme:
          nullable: true
          type: string
        issuer_country:
          nullable: true
          type: string
        last4_digits:
          nullable: true
          type: string
        expiry_month:
          nullable: true
          type: string
        expiry_year:
          nullable: true
          type: string
        card_token:
          nullable: true
          type: string
        card_holder_name:
          nullable: true
          type: string
        card_fingerprint:
          nullable: true
          type: string
        nick_name:
          nullable: true
          type: string
        card_network:
          allOf:
          - $ref: '#/components/schemas/CardNetwork'
          nullable: true
        card_isin:
          nullable: true
          type: string
        card_issuer:
          nullable: true
          type: string
        card_type:
          nullable: true
          type: string
        saved_to_locker:
          type: boolean
      required:
      - saved_to_locker
      type: object
    CardDetailUpdate:
      additionalProperties: false
      properties:
        card_exp_month:
          description: Card Expiry Month
          example: "10"
          type: string
        card_exp_year:
          description: Card Expiry Year
          example: "25"
          type: string
        card_holder_name:
          description: Card Holder Name
          example: John Doe
          type: string
        nick_name:
          description: Card Holder's Nick Name
          example: John Doe
          nullable: true
          type: string
      required:
      - card_exp_month
      - card_exp_year
      - card_holder_name
      type: object
    CardNetwork:
      description: Indicates the card network.
      enum:
      - Visa
      - Mastercard
      - AmericanExpress
      - JCB
      - DinersClub
      - Discover
      - CartesBancaires
      - UnionPay
      - Interac
      - RuPay
      - Maestro
      type: string
    CardPayout:
      properties:
        card_number:
          description: The card number
          example: "4242424242424242"
          type: string
        expiry_month:
          description: The card's expiry month
          type: string
        expiry_year:
          description: The card's expiry year
          type: string
        card_holder_name:
          description: The card holder's name
          example: John Doe
          type: string
      required:
      - card_holder_name
      - card_number
      - expiry_month
      - expiry_year
      type: object
    CardRedirectData:
      oneOf:
      - $ref: '#/components/schemas/CardRedirectData_oneOf'
      - $ref: '#/components/schemas/CardRedirectData_oneOf_1'
      - $ref: '#/components/schemas/CardRedirectData_oneOf_2'
      - $ref: '#/components/schemas/CardRedirectData_oneOf_3'
    CardRedirectResponse:
      allOf:
      - allOf:
        - $ref: '#/components/schemas/CardRedirectData'
        nullable: true
      - type: object
    CardResponse:
      properties:
        last4:
          nullable: true
          type: string
        card_type:
          nullable: true
          type: string
        card_network:
          allOf:
          - $ref: '#/components/schemas/CardNetwork'
          nullable: true
        card_issuer:
          nullable: true
          type: string
        card_issuing_country:
          nullable: true
          type: string
        card_isin:
          nullable: true
          type: string
        card_extended_bin:
          nullable: true
          type: string
        card_exp_month:
          nullable: true
          type: string
        card_exp_year:
          nullable: true
          type: string
        card_holder_name:
          nullable: true
          type: string
        payment_checks:
          nullable: true
        authentication_data:
          nullable: true
      type: object
    CardToken:
      properties:
        card_holder_name:
          description: The card holder's name
          example: John Test
          type: string
        card_cvc:
          description: The CVC number for the card
          nullable: true
          type: string
      required:
      - card_holder_name
      type: object
    CardTokenAdditionalData:
      properties:
        card_holder_name:
          description: The card holder's name
          example: John Test
          type: string
      required:
      - card_holder_name
      type: object
    CardTokenResponse:
      allOf:
      - allOf:
        - $ref: '#/components/schemas/CardTokenAdditionalData'
        nullable: true
      - type: object
    CashappQr:
      type: object
    ChargeRefunds:
      description: Charge specific fields for controlling the revert of funds from
        either platform or connected account. Check sub-fields for more details.
      properties:
        charge_id:
          description: Identifier for charge created for the payment
          type: string
        revert_platform_fee:
          description: |-
            Toggle for reverting the application fee that was collected for the payment.
            If set to false, the funds are pulled from the destination account.
          nullable: true
          type: boolean
        revert_transfer:
          description: |-
            Toggle for reverting the transfer that was made during the charge.
            If set to false, the funds are pulled from the main platform's account.
          nullable: true
          type: boolean
      required:
      - charge_id
      type: object
    Comparison:
      description: Represents a single comparison condition.
      properties:
        lhs:
          description: The left hand side which will always be a domain input identifier
            like "payment.method.cardtype"
          type: string
        comparison:
          $ref: '#/components/schemas/ComparisonType'
        value:
          $ref: '#/components/schemas/ValueType'
        metadata:
          additionalProperties: {}
          description: |-
            Additional metadata that the Static Analyzer and Backend does not touch.
            This can be used to store useful information for the frontend and is required for communication
            between the static analyzer and the frontend.
          type: object
      required:
      - comparison
      - lhs
      - metadata
      - value
      type: object
    ComparisonType:
      description: Conditional comparison type
      enum:
      - equal
      - not_equal
      - less_than
      - less_than_equal
      - greater_than
      - greater_than_equal
      type: string
    ConfirmIntentAmountDetailsResponse:
      example:
        skip_external_tax_calculation: Skip
        skip_surcharge_calculation: Skip
        order_tax_amount: ""
        shipping_cost: ""
        order_amount: 6540
        amount_capturable: 6
        amount_captured: ""
        currency: AED
        tax_on_surcharge: ""
        net_amount: 0
        amount_to_capture: ""
        surcharge_amount: ""
      properties:
        order_amount:
          description: "The payment amount. Amount for the payment in the lowest denomination\
            \ of the currency, (i.e) in cents for USD denomination, in yen for JPY\
            \ denomination etc. E.g., Pass 100 to charge $1.00 and 1 for 1¥ since\
            \ ¥ is a zero-decimal currency. Read more about [the Decimal and Non-Decimal\
            \ Currencies](https://github.com/juspay/hyperswitch/wiki/Decimal-and-Non%E2%80%90Decimal-Currencies)"
          example: 6540
          format: int64
          minimum: 0
          type: integer
        currency:
          $ref: '#/components/schemas/Currency'
        shipping_cost:
          allOf:
          - $ref: '#/components/schemas/MinorUnit'
          nullable: true
        order_tax_amount:
          allOf:
          - $ref: '#/components/schemas/MinorUnit'
          nullable: true
        skip_external_tax_calculation:
          $ref: '#/components/schemas/TaxCalculationOverride'
        skip_surcharge_calculation:
          $ref: '#/components/schemas/SurchargeCalculationOverride'
        surcharge_amount:
          allOf:
          - $ref: '#/components/schemas/MinorUnit'
          nullable: true
        tax_on_surcharge:
          allOf:
          - $ref: '#/components/schemas/MinorUnit'
[...]
